.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 16px;
    /* margin: 0; */
    font-family: inherit;
    /* margin-left: 20px;
    margin-right: 20px; */
    /* padding: 19px; */
    font-weight: 500;
}

.navbar .btn{
    background-color: #F1BB69;
    border-radius: 27px;
    font-family: inherit;
    font-size: 16px;
    color: white;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}
.navbar .btn:hover{
    background-color: #AF6C08;
}

.heroimage1 {
    object-fit: cover;
    height: 320px;
    width: 256px;
    margin-left: 80px;
}

.heroimage1s {
    background-color: #F1BB69;
    margin-left: 110px;
    margin-top: -290px;
    height: 320px;
    width: 256px;
}

.heroimage2 {
    object-fit: cover;
    height: 200px;
    width: 150px;
    margin-top: 100px;
    margin-left: 100px;
}

.heroimage2s {
    background-color: #F1BB69;
    height: 200px;
    width: 150px;
    margin-top: -180px;
    margin-left: 120px;
}


body{
    color: rgb(255, 255, 255);
}
.hero {
    position: static;
    /* min-height: 60vh; */
    /* margin-left: 20px;
    margin-right: 20px; */
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #AF6C08;
    font-family: inherit;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    /* padding-top: 40px; */

}

.hero .content{
    max-width: 60rem;
    /* margin-top: 50px; */
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero .content h1 {
    font-family: inherit;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 52px;
}

.hero .content h2 {
    font-family: inherit;
    color: #AF6C08;
    font-weight: 700;
    font-size: 38px;
}

.hero .content .btn {
    margin-top: 16px;
    display: inline-block;
    padding: 16px 48px;
    font-size: 20px;
    color: white;
    word-wrap: break-word;
    background-color: #F1BB69;
    border-radius: 50px;
    font-weight: bold;
}
.hero .content .btn:hover {
    background-color: #AF6C08;
}
.hero2{
    color: black;
    text-align: center;
    display: inline;
    padding-bottom: 50px;
}
.hero2 h1{
    color: #3D3D3D;
font-family: inherit;
font-size: 52px;
font-weight: 700;

}

.hero2 h2{
    color: #AF6C08;
font-family: inherit;
font-size: 38px;
font-weight: 700;

}

.hero2 h3{
    margin-top: 20px;
    color: #3D3D3D;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.custom-image {
    height: 256px;
    width: 256px;
    margin-top: 75px;
    /* margin: 50px; */
    /* border-radius: 50%; */
    object-fit: cover;
}
.custom-image-middle {
    height: 444px;
    width: 444px;
    margin: 50px;
    /* border-radius: 50%; */
    object-fit: cover;
}

.divider {
    background-color: #F1BB69;
    height: 300px;
}

.carousel-inner {
    position: static;
    text-align: center;
}

.carousel-img {
    height: 420px;
    width: 420px;
    margin: 30px;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
}

.carousel-caption {
    position: inherit;
    /* margin-bottom: 20px; */
}
.carousel-caption h1{
    font-size: 42px;
    color: #3D3D3D;
}
.carousel-caption p{
    margin-top: 20px;
    color: #3D3D3D;
}
.carousel-item {
    position: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

.footer{
    position: relative;
    height: auto;
    padding-top: 50px;
    margin-top: 100px;
}

.footer a{

    text-decoration: none;
}

.portal h1{
    font-size: 52;
    text-align: end;
}

.portal h2{
    font-size: 38;
    text-align: end;
}

.umkm h1{
    color: #3D3D3D;
font-family: inherit;
font-size: 52px;
font-weight: 700;
}

.umkm h2{
    color: #AF6C08;
font-family: inherit;
font-size: 38px;
font-weight: 700;
margin-bottom: 40px;
}

.lokasi {
    margin-bottom: 40px;
}

.fasilitas {
    padding-top: 40px;
    padding-bottom: 80px;
    margin-top: 40px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.vertical-item-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .wa-center {
    /* margin: 0; */
    position: relative;
    top: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.whatsapp {
    background-color: #00A400;
    border-radius: 48px;
    height: 80px;
    width: 360px;
    font-weight: bold;
    color: white;
    font-family: inherit;
    text-decoration: none;

}
.whatsapp:hover {
    background-color: rgb(158, 226, 158);
}

.btn-portal {
    background-color: #AF6C08;
}
.btn-portal:hover {
    background-color: #F1BB69;
}
.btn-portal2 {
    background-color: #F1BB69;
}
.btn-portal2:hover {
    background-color: #AF6C08;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: #F1BB69;
}

.social {
    margin-left: 12px;
}

.about h1{
    font-family: inherit;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 52px;
}

.about h2{
    font-family: inherit;
    color: #AF6C08;
    font-weight: 700;
    font-size: 38px;
}
.about h3{
    color: #3D3D3D;
    margin-top: 20px;;
}
.about h4{
    color: #3D3D3D;
}
.about p{
    color: #3D3D3D;
}
.aboutcover {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.aboutcoversm {
    height: 50%;
    width: auto;
    object-fit: cover;
}

.imgprofil {
    /* width:  */
    max-width: 240px;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
}

.blog a{
    color: #F1BB69;
    text-decoration: none;
}
.blog a:hover{
    color: #AF6C08;
    text-decoration: none;
}

.btn-white2 {
    background-color: white;
}

.btn-white2:hover {
    background-color: lightgrey;
}
